/* macOS Default (Light) colors */
@define-color red rgb(255, 59, 48);
@define-color orange rgb(255, 149, 0);
@define-color yellow rgb(255, 204, 0);
@define-color green rgb(40, 205, 65);
@define-color mint rgb(0, 199, 190);
@define-color teal rgb(89, 173, 196);
@define-color cyan rgb(85, 190, 240);
@define-color blue rgb(0, 122, 255);
@define-color indigo rgb(88, 86, 214);
@define-color purple rgb(175, 82, 222);
@define-color pink rgb(255, 45, 85);
@define-color brown rgb(162, 132, 94);
@define-color gray rgb(142, 142, 147);


* {
  font-family: Iosevka Nerd Font;
  font-size: 17px;
  min-height: 0;
  padding: 0px;
  margin: 0px;
  border: none;
}

window#waybar {
    background-color: transparent;
}

window#waybar > box {
  /* A macOS Big Sur top bar look */
  background-color: rgba(249, 249, 249, 0.4);
  /* color: white; */
  color: #0d0d0d;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow:0 0 40px -10px rgba(0,0,0,.4),
    0 0 25px -15px rgba(0,0,0,.2);
  padding-left: 0.2rem;
}

#workspaces button {
  color: @cyan;
  padding: 0.2rem;
}

#workspaces button:hover {
  box-shadow: none; /* Remove predefined box-shadow */
  text-shadow: none; /* Remove predefined text-shadow */
  background: none; /* Remove predefined background color (white) */
  transition: none; /* Disable predefined animations */
  border: none;
}

#workspaces button.empty {
  color: @gray;
}

#workspaces button.active {
  color: @blue;
}

/* default padding */
#custom-ss,
#network,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
  padding: 0rem 0.6rem;
}

#clock {
  padding-right: 1rem;
}

#battery {
  color: @blue;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @orange;
}

#backlight {
  color: @yellow;
}
